<!-- todo_list/todo_app/templates/todo_app/todo_list.html -->
{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <div>
            <h3>{{ todo_list.title }} list:</h3>
        </div>
        <ul>
            {% for todo in item_list_object %}
            <div>
                <div>
                    {% if todo.complete is False %}
                        <li>
                            <div style="background-color:SteelBlue;"
                                role="button"
                                onclick="location.href= '{% url "item-update" todo_list.id todo.id %}'">
                                {{ todo.title }}
                                (Due {{ todo.due_date | date:"l, F j" }})
                                (Complete {{ todo.complete }})
                            </div>
                        </li>
                    {% endif %}
                </div>
                <div>
                    {% if todo.complete is True%}
                        <li>
                            <div style="background-color:SeaGreen; text-decoration: line-through;"
                                role="button"
                                onclick="location.href= '{% url "item-update" todo_list.id todo.id %}'">
                                {{ todo.title }}
                                (Due {{ todo.due_date | date:"l, F j" }})
                                (Complete {{ todo.complete }})
                            </div>
                        </li>
                    {% endif %}
            </div>
            
            {% empty %}
            <p>There are no to-do items in this list.</p>
            {% endfor %}
        </ul>
        <p>
            <input
                value="Add a new item"
                type="button"
                onclick="location.href='{% url "item-add" todo_list.id %}'" />
            <input
                value="Delete this list"
                type="button"
                onclick="location.href=
                '{% url "list-delete" todo_list.id %}'" />
        </p>
    </div>
</div>
{% endblock %}